
body {
    font-family: Arial,sans-serif;
    background-color:#E9EFEC;
    margin:0;;
    padding: 150px;

}

.resume-container{

display: flex;
background: color #6A9C89; 
width:85%;
margin:0 auto;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0,0,.2)


}

/* left section */
.left section {
    background-color:#F05A7E ;
    color: white;
    padding: 50px;
    width:35%;
    text-align:justify;
    border-right: 5px solid goldenrod;

    
}

.Profile-picture{

    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #FFF0D1;
    margin-bottom: 20px;
}
h1{
    font-size: 18px;
    margin-bottom: 30px;
    margin:10px 0;
    text-align: center;
  
}
h3{

font-size: 18px;
padding: 2%;
margin: 20px 0 10px;
color: black;
border-radius: 10px;
box-shadow: 0 0 15px #B8001F ;
margin-top: 5%;
margin-bottom: 5%;

}

ul{
    list-style-type:fill round;
    padding: 10;
    margin: 10px 0;

}

ul li{
    margin: 5px 0;
    text-align: center;

}
.Right-section{
    padding: 50px;
    border-width: 35%;
  
    background-color: #FFBE98;
    
}

button{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button :hover{
    background-color:yellowgreen ;

}

